<!DOCTYPE html--!>
<html>

<head>
	<title>Khanyisa Day Care Centre</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/freelance.css">
</head>

<body>
	<br>
	<div class="container example2">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://disputebills.com"><img src="https://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png" alt="Dispute Bills">
					</a>
				</div>
				<div id="navbar2" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Shelf <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">Stuff Documents</a></li>
								<li><a href="#">Submition Reminders</a></li>
								<li><a href="#">Submitted forms</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Children Documents</li>
								<li><a href="#">{{{this.year}}}Certificates</a></li>
								<li><a href="#">Others</a></li>
							</ul>
							<li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li>
						</li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>
	</div>
	<div class="div-container">
		{{{body}}}
	</div>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

<footer></footer>

</html>
